{{ define "head" }}
	{{ if .Site.Params.bgImg }}
		<style>.bg-img {background-image: url('{{.Site.Params.bgImg}}');}</style>
	{{- else if .Site.Params.images -}}
		{{- range first 1 .Site.Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "main" }}
	<div id="spotlight" class="animated fadeIn">
		<div id="home-center">
			<h1 id="home-title">{{ .Site.Title }}</h1>
			{{- with .Site.Params.homeSubtitle }}
				<p id="home-subtitle">{{.}}</p>
			{{- end }}
			{{- with .Site.Params.social }}
				<div id="home-social">
					{{ partial "social-icons.html" . }}
				</div>
			{{- end }}

			<nav id="home-nav" class="site-nav">
				{{ range .Site.Menus.main }}
					<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
				{{ end }}
			</nav>

			<!-- Add Featured Posts Section -->
			<!-- <div id="featured-posts"> -->
				<!-- <h2>Featured Posts</h2> -->
				<!-- Debug info -->
				<!-- {{ $featured := where .Site.RegularPages "Params.featured" true }} -->
				<!-- <p>Number of featured posts: {{ len $featured }}</p> -->
				<!-- End debug info -->
				<!-- <ul> -->
				<!-- {{ range where .Site.RegularPages "Params.featured" true | first 3 }} -->
					<!-- <li>
						<a href="{{ .RelPermalink }}">{{ .Title }}</a>
						<span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
					</li> -->
				<!-- {{ end }} -->
				<!-- </ul> -->
			<!-- </div> -->
		</div>
		<div id="home-footer">
			<p>
				&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>
				{{- with .Site.Params.footerCopyright }} {{ . | safeHTML }} {{- end }}
			</p>
		</div>
	</div>
{{ end }}
